.App {
  text-align: center;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark {
  background-color: #1c1c1c;
  color: white;
}

div.order-book-wrapper {
  overflow-y: scroll;
  height: 600px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

div.order-book-wrapper::-webkit-scrollbar {
  display: none;
}

div, p, button {
  margin: 3px 9px;
}

a {
  color: #007bff;
}

button {
  background-color: #007bff;
  color: white;
  padding: 6px 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  max-width: 40%;
}
button:hover {
  background-color: #0056b3;
}

button.buy {
  background-color: #25972f;
}
button.buy:hover {
  background-color: #1c7223;
}

button.sell {
  background-color: #cd2222;
}
button.sell:hover {
  background-color: #b52323;
}

input, select {
  width: 25%;
  padding: 5px;
  margin: 2px 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

td:hover {
  background-color: #bdbdbd4f;
}

th, td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
}

thead {
  background-color: #bdbdbd;
  position: sticky;
  top: 0; /* Fix the header at the top */
  z-index: 2;
}

ul {
  overflow: hidden;
  overflow-y: auto;
  min-height:20vh;
  height:20vh; 
  max-height:20vh;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}
.navbar a:hover {
  background-color: #ddd;
}

.container1col {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
}

.container2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
}

.price-history-container {
  grid-column: span 1;

}

@media (max-width: 768px) {
  /* Styles for mobile screens */
  .container2col {
    grid-template-columns: 1fr;
  }
}