.App {
  text-align: center;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark {
  background-color: #1d1d1d;
  color: white;
}

div.table-wrapper {
  overflow-y: scroll;
  max-height: 60vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

div.table-wrapper::-webkit-scrollbar {
  display: none;
}

div, p, button {
  margin: 3px 9px;
}
div.volume-bar {
  margin: 0px;
  background-color: #007bff;
}

div.modal-overlay {
  margin: auto;
}

a {
  color: #007bff;
  cursor: pointer;
}

button {
  background-color: #007bff;
  color: white;
  padding: 6px 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  max-width: 40%;
}
button:hover {
  background-color: #0056b3;
}

button.buy {
  background-color: #25972f;
}
button.buy:hover {
  background-color: #1c7223;
}

button.sell {
  background-color: #cd2222;
}
button.sell:hover {
  background-color: #b52323;
}

input, select {
  width: 30%;
  padding: 5px;
  margin: 2px 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

td:hover {
  background-color: #bdbdbd9c;
}
td:hover div {
  background-color: #007bffd0;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
}

th {
  padding: 3px;
}

thead {
  background-color: #bdbdbd;
  position: sticky;
  top: 0;
  z-index: 2;
}

ul {
  overflow: hidden;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
}
.modal ul {
  height: 35vh; 
}

ul.menu-bar {
  height: auto;
}
.menu-bar {
  display: inline;
  align-items: center;
  background-color: #cac4e2;
  border-radius: 16px;
}
.menu-bar a {
  color: #303030;
}
.menu-bar a:hover {
  color: black;
}

.material-symbols-outlined {
  font-size: 32px;
  display: block;
  font-variation-settings:
  'FILL' 0,
  'wght' 350,
  'GRAD' 0,
  'opsz' 48
}

li {
  margin: 16px 8px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  padding: 20px;
  border-radius: 8px;
  position: relative;
  background-color: white;
  overflow-x: scroll;
  min-width: 36vw;
}
.modal.dark {
  background-color: #1d1d1d;
}
.modal-content {
  margin-top: 18px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.close-button:hover{
  background-color: #850606;
}
.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}
.navbar a:hover {
  background-color: #ddd;
}

.container1col {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
}

.container2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.room-layout {
  display: grid;
  grid-template-columns: 75px 1fr;
  height: 100%;
  align-items: start;
}

@media (max-width: 768px) {
  /* Styles for mobile screens */
  .container2col {
    grid-template-columns: 1fr;
  }
}